:root {
    --black: #000;
    --white: #fff;
    --color-main: #7b857e;
    --color-main-light: #a2a6a3;
    --color-main-dark: #444d46;
    --color-field: #D7D9CE;
    --color-field-dark: #040404;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
    margin: auto;
    background-color: var(--color-main-dark);
    font-family: 'Press Start 2P';
}

body img {
    float: left;
}

body h2 {
    margin-left: 20px;
    font-size: 50px;
}

section {
    float: left;
}

.header {
    width: 100%;
    background-color: var(--color-main);
}

.panelL {
    width: 20%;
    background-color: var(--color-main-dark);
}

.panelR {
    width: 80%;
    height: 1000px;
    background-color: var(--color-main-light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    width: 100%;
    background-color: var(--color-main);
}

table.board {
    height: 900px;
    width: 900px;
    border-spacing: 0;
    border: 1px solid var(--black);
}

td.field {
    height: 30px;
    width: 30px;
    border: 1px solid var(--black);
    background-color: var(--color-field);
    color: var(--color-field-dark);
    padding: 0 40px;
    font-size: 30px;
    line-height: 10px;
}

td.empty {
    border: 1px solid var(--black);
    background-color: var(--color-field);
    color: var(--color-field-dark);
    font-size: 30px;
    line-height: 10px;
    text-align: center;
}

td input {
    text-align: center;
    height: 90px;
    width: 90px;
    border: 1px solid var(--black);
    background-color: var(--color-field);
    color: var(--color-field-dark);
    font-size: 70px;
    font-family: "Press Start 2P";
    line-height: 10px;
}

td input:hover {
    transition-duration: 0.5s;
    background-color: var(--color-field-dark);
    color: var(--color-field);
}

.field:hover {
    transition-duration: 0.5s;
    background-color: var(--color-field-dark);
    color: var(--color-field);
}